* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
}

button {
    cursor: pointer;
}

.container {
    margin: auto;
    max-width: 600px;
}

.done {
    text-decoration: line-through;
}

ul {
    list-style-type: none;
    margin: 0%;
    padding: 0%;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 25px;
    padding: 15px;
    margin: 15px;
}

.item img {
    width: 25px;
}

.card {
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.2);
}

.card button {
    border: 0;
    background-color: white;
    margin-right: 10px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.addButton {
    width: 50px;
    height: 50px;
    font-size: 30px;
    border: none;
    border-radius: 50%;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);

    display: flex;
    justify-content: center;
    align-items: center;
}

.card-modal {
    padding: 20px;
    background-color: white;
}

.hide {
    display: none;
}